@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
.navbar-light .navbar-nav .nav-link.active-link{
  color:forestgreen;
  text-decoration:underline;
}
.navbar-light.navbar-nav .nav-link
{
  color:goldenrod;
}
.bg-800000 {
  background-color:white!important;
}
body {
  font-family: 'Poppins', sans-serif;
}
.heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 600; /* Use the desired font weight */
}
