<body>
  <section class="home">
    <div class="home-content">
      <h1>👋 Starlet Household Decor</h1><br>
      <h3>Why Choose Us?</h3>
      <p>Exceptional Quality | Extensive Selection | Personalized Services | Wedding Accessories | Affordable</p>
    <div class="home-sci">
      <a href="https://wa.me/254792950308" target="_blank"><i class="fa-brands fa-whatsapp" style="color: green;"></i></a>
      <a href="https://www.instagram.com/starlet_household_decor/" target="_blank"><i class="fa-brands fa-instagram" style="color: indianred;"></i></a>
      <a href="https://www.youtube.com/channel/UCjeOvMERlA6d8FiFVfUcxMQ" target="_blank"><i class="fa-brands fa-youtube" style="color: red;"></i></a>
    </div>
    <span class="home-imgHover"></span>
