<div class=" container-fluid footer" >
  <div class="row">
     <!-- name-->
    <div class="col-lg-6 mt-3 mb-3">
      <h1>Starlet Household Decor</h1>
      <p> Dealers in unique households, decors,gifts and all occasions accessories</p>
      <p>&copy; 2023 Starlet Household Decor. All rights reserved.</p>
    </div>
    <!--nav-->
   <div class="col-lg-4 mt-3 mb-3">
    <a routerLink="">Home</a>
    <a routerLink="about">About</a>
    <a routerLink="gifts">Gifts</a>
    <a routerLink="households">Households</a>
    <a routerLink="blog">Decor</a>

   </div>
   <!--network via social Media-->
   <div class="col-lg-2 mt-3 mt-3">
      <a href="https://www.facebook.com/brian.maema.7/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
      <a href="https://wa.me/254792950308" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
      <a href="https://www.instagram.com/starlet_household_decor/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://www.youtube.com/channel/UCjeOvMERlA6d8FiFVfUcxMQ" target="_blank"><i class="fa-brands fa-youtube"></i></a>
   </div>
  </div>
</div>

